<nav class="navbar navbar-expand-sm navbar-light bg-white p-0">
    <a class="navbar-brand mx-4" href="#">Webbsäkerhet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse pr-2">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="my-0 navbar-nav">
                    <li class="nav-item p-0 d-flex">
                        <NavLink class="nav-link" href="posts">
                            <span class="p-2">
                                Forum Post´s
                            </span>
                        </NavLink>
                        <NavLink class="nav-link" href="files">
                            <span class="p-2">
                                All File´s
                            </span>
                        </NavLink>
                    </li>
        </ul>
    </div>
</nav>
