@page "/createpost"
@using WebForumSecurity_Blazor.Models
@using Microsoft.AspNetCore.Components.Forms
@inject IPostRepository PostRep 


<div class="row">
    <div class="col">
        <EditForm Model="post" OnValidSubmit="HandlePost">
            <DataAnnotationsValidator />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Header</label>
                <InputText @bind-Value="post.Header" class="form-control"></InputText>
                
            </div>
            <div class="form-group">
                <label>Content</label>
                <InputTextArea rows="20" cols="100" style="resize:none" @bind-Value="post.Content" class="form-control"></InputTextArea>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="POST" class="btn btn-secondary w-100" />
            </div>
            <div class="form-group mt-3">
                    
                    <NavLink href="postindex" class="btn btn-dark w-100">Back</NavLink>
                </div>
        </EditForm>
    </div>
</div>
@code {
    private Post post { get; set; } = new Post();

    protected override async Task OnInitializedAsync()
    {
        post = new Post();
    }
    private async Task HandlePost()
    {
        
               
        await PostRep.CreatePost(post);
                
                

        NavManager.NavigateTo("posts");
    }
}
